html, body {
	display: block;
	height: 100%;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: 100%;
}
#container {
	height: 100%;
	margin: auto;
	overflow: auto;
	position: relative;
	width: 950px;
}
h1 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	letter-spacing: .1em;
	text-align: center;
	text-transform: lowercase;
}
#social-media {
	margin-top: -75px;
	position: absolute;
	top: 50%;
	width: 100%;
}
	#social-media .social-medium {
		float: left;
		text-align: center;
		width: 20%;
	}
		#social-media .social-medium img {
			height: 150px;
			width: 150px;
		}

a img {
	border: none;
}

.clear {
	overflow: auto;
	width: 100%;
}
